html,
body {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: "forza-black";
  src: url("solution/assets/forza-black.woff2") format("woff2");
}

select {
  background: #f1f4f7;
  border-radius: 2px;
  width: 239px;
  height: 54px;
  border: none !important;
}

select:disabled {
  background: #f1f4f7;
  border-radius: 2px;
  width: 239px;
  height: 54px;
  border: none;
  opacity: 1;
  color: black;
}

.page-container {
  width: 1440px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
}

.navbar-container {
  background-image: linear-gradient(-135deg, #ffc2b4 0%, #fb8f67 100%);
  width: 1440px;
  height: 45px;
  position: fixed;
  top: 0;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  align-self: flex-start;
}

.travel-logo {
  font-family: HelveticaNeue-Bold;
  position: absolute;
  color: white;
  font: 50px;
  left: 220px;
  top: 11px;
}

.tours {
  font-family: HelveticaNeue-Bold;
  font-size: 14px;
  color: #ffffff;
  position: absolute;
  left: 373px;
  top: 17px;
}

.heading {
  font-family: Forza-Black;
  font-size: 44px;
  color: #131a1f;
  text-align: left;
  line-height: 56px;
  /* position: absolute; */
  margin-top: 7%;
}

.form-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  /* position: absolute; */
  /* background-color: lightblue; */
  /* top: 181px; */
  margin-top: 2%;
  width: 782px;
  height: 60px;
}

.season-form {
  background: #f1f4f7;
  border-radius: 2px;
  /* position: absolute; */
  height: 54px;
  width: 239px;
  /* margin: 0 10px 0 5px; */
  /* top: 181px;
  left: 220px; */
}

.season-text {
  font-family: HelveticaNeue;
  font-size: 14px;
  color: #131a1f;
  text-align: left;
  height: 16px;
  width: 215px;
  /* position: absolute;
  top: 200px;
  left: 232px; */
}

select {
  /* display: none; */
  position: absolute;
  /* background-color: yellow; */
  min-width: 230px;
  border: 1px solid #ddd;
  z-index: 1;
}

#season-select {
  /* /* position: absolute; */
  top: 181px;
  left: 220px;
  position: relative;
  display: inline-block;
}

.category-form {
  font-family: HelveticaNeue;
  font-size: 14px;
  color: #131a1f;
  text-align: left;
  background: #f1f4f7;
  border-radius: 2px;
  /* position: absolute; */
  height: 54px;
  width: 239px;
  /* margin: 0 5px 0 5px; */
  /* top: 181px;
  left: 463px; */
}

.category-text {
  font-family: HelveticaNeue;
  font-size: 14px;
  color: #131a1f;
  text-align: left;
  height: 16px;
  width: 215px;
  position: absolute;
  top: 200px;
  left: 475px;
}

.destination-form,
.destinations-form {
  font-family: HelveticaNeue;
  font-size: 14px;
  color: #131a1f;
  text-align: left;
  background: #f1f4f7;
  border-radius: 2px;
  /* position: absolute; */
  height: 54px;
  width: 239px;
  /* top: 181px;
  left: 705px; */
  /* margin: 0 5px 0 10px; */
}

.destination-text {
  font-family: HelveticaNeue;
  font-size: 14px;
  color: #131a1f;
  text-align: left;
  height: 16px;
  width: 215px;
  position: absolute;
  top: 200px;
  left: 717px;
}

.btn-container {
  background-image: linear-gradient(-135deg, #fb8f67 0%, #fb8f67 100%);
  border-radius: 2px;
  width: 54px;
  height: 54px;
  /* position: absolute;
  top: 181px;
  left: 948px; */
  /* margin: 0 5px 0 10px; */
}

/* .search-btn {
  color: white;
} */

.img-container {
  /* width: 782px;
  height: 431px; */
  flex-direction: column;
  display: flex;
  align-content: center;
  justify-content: center;
  margin-top: 25px;
}

.destination-img {
  width: 782px;
  height: 431px;
  /* object-fit: fill; */
  /* position: absolute;
  top: 242px;
  left: 220px; */
}

.destination-title {
  font-family: Forza-Black;
  text-transform: uppercase;
  font-size: 20px;
  color: #ffffff;
  text-align: left;
  line-height: 20px;
  /* position: absolute; */
  /* top: 609px;
  left: 251px; */
  width: 347px;
  height: 40px;
}

.destination-country {
  font-family: Forza-Black;
  text-transform: uppercase;
  font-size: 20px;
  color: #ffffff;
  text-align: left;
  line-height: 20px;
  /* position: absolute;
  top: 630px;
  left: 251px; */
  width: 347px;
  height: 40px;
}
