html,
body {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: "forza-black";
  src: url("solution/assets/forza-black.woff2") format("woff2");
}

.page-container {
  width: 1440px;
  height: 2076px;
}

.navbar-container {
  background-image: linear-gradient(-135deg, #e8381b 0%, #ff690f 100%);
  width: 1440px;
  height: 45px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.kayak-logo {
  position: absolute;
  left: 220px;
  top: 11px;
}

.tours {
  font-family: HelveticaNeue-Bold;
  font-size: 14px;
  color: #ffffff;
  position: absolute;
  left: 373px;
  top: 17px;
}

.heading {
  font-family: Forza-Black;
  font-size: 44px;
  color: #131a1f;
  text-align: left;
  line-height: 56px;
  position: absolute;
  top: 93px;
  left: 220px;
}

/* .form-container {
  display: flex;
  flex-direction: row;
  position: absolute;
  background-color: lightblue;
  top: 181px;
  left: 200px;
  right: 438px;
} */

.season-form {
  background: #f1f4f7;
  border-radius: 2px;
  position: absolute;
  height: 54px;
  width: 239px;
  top: 181px;
  left: 220px;
}

/* .season-text {
  font-family: HelveticaNeue;
  font-size: 14px;
  color: #131a1f;
  text-align: left;
  height: 16px;
  width: 215px;
  position: absolute;
  top: 200px;
  left: 232px;
} */

.category-form {
  font-family: HelveticaNeue;
  font-size: 14px;
  color: #131a1f;
  text-align: left;
  background: #f1f4f7;
  border-radius: 2px;
  position: absolute;
  height: 54px;
  width: 239px;
  top: 181px;
  left: 463px;
}

.destination-form {
  font-family: HelveticaNeue;
  font-size: 14px;
  color: #131a1f;
  text-align: left;
  background: #f1f4f7;
  border-radius: 2px;
  position: absolute;
  height: 54px;
  width: 239px;
  top: 181px;
  left: 705px;
}

.btn-container {
  background-image: linear-gradient(-135deg, #ff690f 0%, #ee4719 100%);
  border-radius: 2px;
  width: 54px;
  height: 54px;
  position: absolute;
  top: 181px;
  left: 948px;
}

/* .search-btn {
  color: white;
} */

.destination-img {
  width: 782px;
  height: 431px;
  position: absolute;
  top: 242px;
  left: 220px;
}
